<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>City</th>
            <th>Zip code</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Website</th>
        </tr>  
        <%
            for(var user of users){
        %>        
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.address.city %></td>
                <td><%= user.address.zipcode %></td>
                <td><%= user.address.geo.lat %></td>
                <td><%= user.address.geo.lng %></td>
                <td><%= user.website %></td>
            </tr>
        <%}%>     
    </table>
</body>
</html>